flows.json
[
    {
        "type": "tab",
        "id": "3da90760.c256f8",
        "label": "Sheet 1"
    },
    {
        "id": "c9801e35.367fe",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "findbugs",
        "name": "FindBugs"
    },
    {
        "id": "a52365b2.5adc98",
        "type": "http in",
        "name": "",
        "url": "/BugsApi/bugs/:category",
        "method": "get",
        "x": 132.83334350585938,
        "y": 106.74999475479126,
        "z": "3da90760.c256f8",
        "wires": [
            [
                "a89932de.5766d"
            ]
        ]
    },
    {
        "id": "a89932de.5766d",
        "type": "function",
        "name": "bugs query",
        "func": "var category = msg.req.params.category || \"\";\n\nmsg.payload = (category !== 'all') ? {\"_category\": category} : {};\n\nmsg.limit = 0;\nmsg.skip = 0;\n\nreturn msg;",
        "outputs": 1,
        "valid": true,
        "x": 378.58334732055664,
        "y": 107.49999380111694,
        "z": "3da90760.c256f8",
        "wires": [
            [
                "1e5e6932.e1a197"
            ]
        ]
    },
    {
        "id": "1e5e6932.e1a197",
        "type": "mongodb in",
        "mongodb": "c9801e35.367fe",
        "name": "find bugs",
        "collection": "bugs",
        "operation": "find",
        "x": 577.3333511352539,
        "y": 106.49999856948853,
        "z": "3da90760.c256f8",
        "wires": [
            [
                "73104829.8cefb8"
            ]
        ]
    },
    {
        "id": "73104829.8cefb8",
        "type": "http response",
        "name": "",
        "x": 805.2500114440918,
        "y": 74.00000190734863,
        "z": "3da90760.c256f8",
        "wires": []
    },
    {
        "id": "c517e504.3ae818",
        "type": "http in",
        "name": "",
        "url": "/BugsApi/categories",
        "method": "get",
        "x": 118.08334350585938,
        "y": 153.7499966621399,
        "z": "3da90760.c256f8",
        "wires": [
            [
                "270b1c0f.d8f4e4"
            ]
        ]
    },
    {
        "id": "270b1c0f.d8f4e4",
        "type": "function",
        "name": "categories query",
        "func": "msg.payload = [\n    { $group: { _id: \"$_category\", count: { $sum: 1 } } },\n    { $sort: { count: -1 } }\n];\n\nmsg.limit = 0;\nmsg.skip = 0;\n\nreturn msg;",
        "outputs": 1,
        "valid": true,
        "x": 383.3333511352539,
        "y": 153.24999475479126,
        "z": "3da90760.c256f8",
        "wires": [
            [
                "85209a12.7adf68"
            ]
        ]
    },
    {
        "id": "85209a12.7adf68",
        "type": "mongodb in",
        "mongodb": "c9801e35.367fe",
        "name": "aggr bugs",
        "collection": "bugs",
        "operation": "aggregate",
        "x": 580.5833511352539,
        "y": 153.9999976158142,
        "z": "3da90760.c256f8",
        "wires": [
            [
                "73104829.8cefb8"
            ]
        ]
    },
    {
        "id": "88449239.77bb7",
        "type": "http in",
        "name": "",
        "url": "/BugsApi/messages",
        "method": "get",
        "x": 117.08334350585938,
        "y": 203.7499976158142,
        "z": "3da90760.c256f8",
        "wires": [
            [
                "8b02796.f74fd88"
            ]
        ]
    },
    {
        "id": "8b02796.f74fd88",
        "type": "function",
        "name": "patterns query",
        "func": "msg.payload = {};\nmsg.limit = 0;\nmsg.skip = 0;\n\nreturn msg;",
        "outputs": 1,
        "valid": true,
        "x": 370.8333435058594,
        "y": 205,
        "z": "3da90760.c256f8",
        "wires": [
            [
                "a6bccf98.59433"
            ]
        ]
    },
    {
        "id": "a6bccf98.59433",
        "type": "mongodb in",
        "mongodb": "c9801e35.367fe",
        "name": "find messages",
        "collection": "messages",
        "operation": "find",
        "x": 589.5833511352539,
        "y": 204.99999475479126,
        "z": "3da90760.c256f8",
        "wires": [
            [
                "73104829.8cefb8"
            ]
        ]
    },
    {
        "id": "f57c3d3c.0a83c",
        "type": "catch",
        "name": "",
        "x": 66.33334350585938,
        "y": 369,
        "z": "3da90760.c256f8",
        "wires": [
            [
                "589cc938.a76338"
            ]
        ]
    },
    {
        "id": "589cc938.a76338",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "error",
        "x": 226.33334350585938,
        "y": 368,
        "z": "3da90760.c256f8",
        "wires": []
    },
    {
        "id": "bf482b75.40b7d8",
        "type": "http in",
        "name": "",
        "url": "/BugsApi/bugtypes/:type",
        "method": "get",
        "x": 123.33332443237305,
        "y": 62.22222280502319,
        "z": "3da90760.c256f8",
        "wires": [
            [
                "f03f130e.0fc0f"
            ]
        ]
    },
    {
        "id": "f03f130e.0fc0f",
        "type": "function",
        "name": "bugs query",
        "func": "var bugtype = msg.req.params.type || \"\";\n\nmsg.payload = (bugtype !== 'all') ? {\"_type\": bugtype} : {};\n\nmsg.limit = 0;\nmsg.skip = 0;\n\nreturn msg;",
        "outputs": 1,
        "valid": true,
        "x": 377.97221755981445,
        "y": 62.9722204208374,
        "z": "3da90760.c256f8",
        "wires": [
            [
                "1e5e6932.e1a197"
            ]
        ]
    },
    {
        "id": "2ff1372c.634788",
        "type": "http in",
        "name": "",
        "url": "/BugsApi/message/:id",
        "method": "get",
        "x": 121,
        "y": 258,
        "z": "3da90760.c256f8",
        "wires": [
            [
                "e3c50405.a473d"
            ]
        ]
    },
    {
        "id": "e3c50405.a473d",
        "type": "function",
        "name": "messages query",
        "func": "var id = msg.req.params.id || \"\";\n\nmsg.payload = (id !== 'all') ? {\"_id\": id} : {};\n\nmsg.limit = 0;\nmsg.skip = 0;\n\nreturn msg;",
        "outputs": 1,
        "valid": true,
        "x": 378.75000762939453,
        "y": 257.24999713897705,
        "z": "3da90760.c256f8",
        "wires": [
            [
                "a6bccf98.59433"
            ]
        ]
    }
]